
---
title: 시작하기 홈
description: 이 섹션에서는 Brightcove Beacon을 시작하는 데 도움이 되는 가이드를 제공합니다.
parent: Getting Started section: Getting Started 
---



<article class="landing-page-wrapper">
  <h1>{{ page.title }}</h1>
  <section class="landing-page-header" id="landing_page_header">
    <p>{{ page.description }}</p>
  </section>
  <section class="card-wrapper">
    {% for item in site.data.navigation %} {% if item.name == page.section %}
    <section class="bcls-card">
      <div class="card-content">
        <h2 class="landing-page-item-header">{{ item.name }}주제</h2>
        <ul class="bcls-topic-list">
          {% for entry in item.docs %}
          <li><a href="{{ entry.url }}">{{ entry.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </section>
    {% endif %} {% endfor %}
  </section>
</article>